
.SmallImg {
    height: 100px;
    width: 100px;
}

.BorderTable {
    border-collapse: collapse;
    text-align: center;
}
.BorderTable th {
    border: 1px solid #8B4513;
    padding: 8px;
    background-color: #D2B48C;
}

.BorderTable td {
    border: 1px solid #8B4513;
    padding: 8px;
}

.ImageFlexRow {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 20px;
}

.HalfImg {
    width: 48%;
    height: auto;
}

.LinenBackground {
    background-color: #FAF0E6;
    padding: 10px;
    border-radius: 5px;
}

.FontSizeLarge {
    font-size: large;
}

.BoldText {
    font-weight: bold;
}

.ColorFontBrown {
    color: #8B4513;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}